.App {
  text-align: center;
  height: 100vw;
  width: 100vh;

}

.Body {
  padding: 0%;
  margin: 0%;

}


.Sidebar {
  color: #cc020273;
  height: 100%;
  margin: 0%;
  padding: 0%;
  width: 250px;
  background-color: plum;
}

